// colors
@white  : #ffffff;
@green  : #699f39;
@teal   : #1b8958;
@yellow : #F29E00;
@red    : #DD3002;
@black  : #2D2F31;
@grey   : #F6F6F6;

@colors : 'white', 'green', 'teal', 'yellow', 'red', 'black', 'grey';

@white-hover    : #fbfbfb;
@white-focus    : #f6f6f6;
@white-border   : darken(@white, 10%);

@green-hover    : lighten(desaturate(@green, 10%), 10%);
@green-focus    : darken(@green, 10%);
@green-border   : darken(@green, 10%);

@teal-hover     : lighten(desaturate(@teal, 10%), 10%);
@teal-focus     : darken(@teal, 10%);
@teal-border    : darken(@teal, 10%);

@yellow-hover   : lighten(desaturate(@yellow, 10%), 10%);
@yellow-focus   : darken(@yellow, 10%);
@yellow-border  : darken(@yellow, 10%);

@red-hover      : lighten(desaturate(@red, 10%), 10%);
@red-focus      : darken(@red, 10%);
@red-border     : darken(@red, 10%);

@black-hover    : lighten(desaturate(@black, 10%), 10%);
@black-focus    : darken(@black, 10%);
@black-border   : darken(@black, 10%);

@grey-hover     : lighten(desaturate(@grey, 10%), 10%);
@grey-focus     : darken(@grey, 10%);
@grey-border    : darken(@grey, 10%);

// Buttons
@btn-small-txt              : 12px;
@btn-small-padding-vert     : 6px;
@btn-small-padding-horriz   : 15px;
@btn-small-line-height      : 26px;
@btn-small-split            : 20px;

@btn-normal-txt             : 14px;
@btn-normal-padding-vert    : 8px;
@btn-normal-padding-horriz  : 20px;
@btn-normal-line-height     : 34px;
@btn-normal-split           : 25px;

@btn-large-txt              : 18px;
@btn-large-padding-vert     : 10px;
@btn-large-padding-horriz   : 20px;
@btn-large-line-height      : 41px;
@btn-large-split            : 28px;