// colors
@white  : #ffffff;
@green  : #699f39;
@teal   : #1b8958;
@yellow : #F29E00;
@red    : #DD3002;
@black  : #2D2F31;
@grey   : #F6F6F6;

@colors : 'white', 'green', 'teal', 'yellow', 'red', 'black', 'grey';

@white-hover    : #fbfbfb;
@white-focus    : #f6f6f6;
@white-border   : darken(@white, 10%);

@green-hover    : lighten(desaturate(@green, 10%), 10%);
@green-focus    : darken(@green, 10%);
@green-border   : darken(@green, 10%);

@teal-hover     : lighten(desaturate(@teal, 10%), 10%);
@teal-focus     : darken(@teal, 10%);
@teal-border    : darken(@teal, 10%);

@yellow-hover   : lighten(desaturate(@yellow, 10%), 10%);
@yellow-focus   : darken(@yellow, 10%);
@yellow-border  : darken(@yellow, 10%);

@red-hover      : lighten(desaturate(@red, 10%), 10%);
@red-focus      : darken(@red, 10%);
@red-border     : darken(@red, 10%);

@black-hover    : lighten(desaturate(@black, 10%), 10%);
@black-focus    : darken(@black, 10%);
@black-border   : darken(@black, 10%);

@grey-hover     : lighten(desaturate(@grey, 10%), 10%);
@grey-focus     : darken(@grey, 10%);
@grey-border    : darken(@grey, 10%);


@font-famully-default : sans-serif;
@font-size-default    : 14px;
@line-heght-default   : 20px;
@font-color-default   : @black;

@disable        : #aaa;
@border-default : #cfcfcf;

@btn-small-txt              : 12px;
@btn-small-padding-vert     : 6px;
@btn-small-padding-horriz   : 15px;
@btn-small-line-height      : 24px;
@btn-small-split            : 20px;

@btn-normal-txt             : 14px;
@btn-normal-padding-vert    : 8px;
@btn-normal-padding-horriz  : 20px;
@btn-normal-line-height     : 34px;
@btn-normal-split           : 25px;

@btn-large-txt              : 18px;
@btn-large-padding-vert     : 10px;
@btn-large-padding-horriz   : 20px;
@btn-large-line-height      : 40px;
@btn-large-split            : 25px;


// icons
@ticon-tux: "\e900";
@ticon-linux: "\e900";
@ticon-android: "\e901";
@ticon-finder: "\e902";
@ticon-osx: "\e902";
@ticon-windows: "\e903";
@ticon-google-drive: "\e904";
@ticon-google-plus: "\e905";
@ticon-google: "\e906";
@ticon-youtube: "\e907";
@ticon-github: "\e908";
@ticon-linkedin: "\e909";
@ticon-twitter: "\e90a";
@ticon-facebook: "\e90b";
@ticon-error: "\e000";
@ticon-error-outline: "\e001";
@ticon-warning: "\e002";
@ticon-add-alert: "\e003";
@ticon-av-timer: "\e01b";
@ticon-equalizer: "\e01d";
@ticon-fast-forward: "\e01f";
@ticon-fast-rewind: "\e020";
@ticon-loop: "\e028";
@ticon-library-add: "\e02e";
@ticon-queue-add: "\e02e";
@ticon-library-books: "\e02f";
@ticon-new-releases: "\e031";
@ticon-pause-circle-filled: "\e035";
@ticon-pause-circle-outline: "\e036";
@ticon-play-circle-filled: "\e038";
@ticon-play-circle-outline: "\e039";
@ticon-playlist-add: "\e03b";
@ticon-list-add: "\e03b";
@ticon-replay: "\e042";
@ticon-repeat: "\e042";
@ticon-web: "\e051";
@ticon-hd: "\e052";
@ticon-sort-alpha: "\e053";
@ticon-airplay: "\e055";
@ticon-add-screen: "\e05c";
@ticon-new: "\e05e";
@ticon-playlist-play: "\e05f";
@ticon-list-play: "\e05f";
@ticon-playlist-check: "\e065";
@ticon-list-check: "\e065";
@ticon-remove-screen: "\e067";
@ticon-performance: "\e068";
@ticon-web-asset: "\e069";
@ticon-pin: "\e06a";
@ticon-chat: "\e0b7";
@ticon-clear-all: "\e0b8";
@ticon-forum: "\e0bf";
@ticon-import-export: "\e0c3";
@ticon-order: "\e0c3";
@ticon-live-help: "\e0c6";
@ticon-location-off: "\e0c7";
@ticon-location-on: "\e0c8";
@ticon-chat-bubble: "\e0ca";
@ticon-chat-bubble-outline: "\e0cb";
@ticon-landscape: "\e0d3";
@ticon-portrait: "\e0d4";
@ticon-phone: "\e0d4";
@ticon-textsms: "\e0d8";
@ticon-comments-more: "\e0d8";
@ticon-vpn-key: "\e0da";
@ticon-present-to-all: "\e0df";
@ticon-mail-outline: "\e0e1";
@ticon-screen-share: "\e0e2";
@ticon-add-box: "\e146";
@ticon-add-circle: "\e147";
@ticon-add-circle-outline: "\e148";
@ticon-archive: "\e149";
@ticon-backspace: "\e14a";
@ticon-copy: "\e14d";
@ticon-cut: "\e14e";
@ticon-paste: "\e14f";
@ticon-create: "\e150";
@ticon-edit: "\e150";
@ticon-drafts: "\e151";
@ticon-filter-list: "\e152";
@ticon-flag: "\e153";
@ticon-forward: "\e154";
@ticon-inbox: "\e156";
@ticon-link: "\e157";
@ticon-mail: "\e158";
@ticon-redo: "\e15a";
@ticon-remove-circle: "\e15c";
@ticon-remove-circle-outline: "\e15d";
@ticon-reply: "\e15e";
@ticon-reply-all: "\e15f";
@ticon-report: "\e160";
@ticon-save: "\e161";
@ticon-send: "\e163";
@ticon-sort: "\e164";
@ticon-text-format: "\e165";
@ticon-undo: "\e166";
@ticon-font-download: "\e167";
@ticon-move-to-inbox: "\e168";
@ticon-unarchive: "\e169";
@ticon-access-alarm: "\e190";
@ticon-access-time: "\e192";
@ticon-time: "\e192";
@ticon-add-alarm: "\e193";
@ticon-data-usage: "\e1af";
@ticon-sd-storage: "\e1c2";
@ticon-storage: "\e1db";
@ticon-database: "\e1db";
@ticon-usb: "\e1e0";
@ticon-attach-file: "\e226";
@ticon-money: "\e227";
@ticon-dollard: "\e227";
@ticon-align-center: "\e234";
@ticon-align-justify: "\e235";
@ticon-align-left: "\e236";
@ticon-align-right: "\e237";
@ticon-color-text: "\e23c";
@ticon-indent-decrease: "\e23d";
@ticon-indent-increase: "\e23e";
@ticon-line-spacing: "\e240";
@ticon-list-bulleted: "\e241";
@ticon-list-numbered: "\e242";
@ticon-format-paint: "\e243";
@ticon-format-quote: "\e244";
@ticon-functions: "\e24a";
@ticon-insert-chart: "\e24b";
@ticon-file: "\e24d";
@ticon-photo: "\e251";
@ticon-merge-type: "\e252";
@ticon-publish: "\e255";
@ticon-vertical-align-center: "\e259";
@ticon-wrap-text: "\e25b";
@ticon-format-shapes: "\e25e";
@ticon-linear-scale: "\e260";
@ticon-short-text: "\e261";
@ticon-text-fields: "\e262";
@ticon-cloud: "\e2bd";
@ticon-cloud-done: "\e2bf";
@ticon-cloud-download: "\e2c0";
@ticon-cloud-off: "\e2c1";
@ticon-cloud-queue: "\e2c2";
@ticon-cloud-upload: "\e2c3";
@ticon-file-download: "\e2c4";
@ticon-file-upload: "\e2c6";
@ticon-folder: "\e2c7";
@ticon-folder-open: "\e2c8";
@ticon-folder-shared: "\e2c9";
@ticon-create-new-folder: "\e2cc";
@ticon-computer: "\e30a";
@ticon-desktop-windows: "\e30c";
@ticon-chevron-left: "\e314";
@ticon-chevron-right: "\e315";
@ticon-capslock: "\e318";
@ticon-return: "\e31b";
@ticon-tab: "\e31c";
@ticon-memory: "\e322";
@ticon-mouse: "\e323";
@ticon-router: "\e328";
@ticon-security: "\e32a";
@ticon-sim-card: "\e32b";
@ticon-speaker: "\e32d";
@ticon-speaker-group: "\e32e";
@ticon-tablet: "\e331";
@ticon-device-hub: "\e335";
@ticon-assistant: "\e39f";
@ticon-assistant-photo: "\e3a0";
@ticon-crop: "\e3be";
@ticon-crop-free: "\e3c2";
@ticon-filter-frames: "\e3de";
@ticon-grid-on: "\e3ec";
@ticon-image-aspect-ratio: "\e3f5";
@ticon-looks: "\e3fc";
@ticon-loupe: "\e402";
@ticon-eye: "\e417";
@ticon-slideshow: "\e41b";
@ticon-timer: "\e425";
@ticon-timer_off: "\e426";
@ticon-tune: "\e429";
@ticon-view-comfortable: "\e42a";
@ticon-grid: "\e42a";
@ticon-view-compact: "\e42b";
@ticon-grid-flow: "\e42b";
@ticon-sunny: "\e430";
@ticon-collections-bookmark: "\e431";
@ticon-beenhere: "\e52d";
@ticon-directions: "\e52e";
@ticon-layers: "\e53b";
@ticon-layers-clear: "\e53c";
@ticon-local-hospital: "\e548";
@ticon-library: "\e54b";
@ticon-tag: "\e54e";
@ticon-print: "\e555";
@ticon-location: "\e55a";
@ticon-map: "\e55b";
@ticon-my-location: "\e55c";
@ticon-navigation: "\e55d";
@ticon-pin-drop: "\e55e";
@ticon-place: "\e55f";
@ticon-rate-review: "\e560";
@ticon-comments-add: "\e560";
@ticon-traffic: "\e565";
@ticon-add-location: "\e567";
@ticon-edit-location: "\e568";
@ticon-near-me: "\e569";
@ticon-apps: "\e5c3";
@ticon-arrow-left: "\e5c4";
@ticon-drop-down: "\e5c5";
@ticon-drop-down-circle: "\e5c6";
@ticon-drop-up: "\e5c7";
@ticon-arrow-right: "\e5c8";
@ticon-cancel: "\e5c9";
@ticon-check: "\e5ca";
@ticon-expand-less: "\e5ce";
@ticon-expand-more: "\e5cf";
@ticon-fullscreen: "\e5d0";
@ticon-menu: "\e5d2";
@ticon-more: "\e5d4";
@ticon-refresh: "\e5d5";
@ticon-unfold-less: "\e5d6";
@ticon-unfold-more: "\e5d7";
@ticon-arrow-top: "\e5d8";
@ticon-arrow-bottom: "\e5db";
@ticon-cancel2: "\e611";
@ticon-cancel-2: "\e612";
@ticon-event-available: "\e614";
@ticon-event-busy: "\e615";
@ticon-event-note: "\e616";
@ticon-folder-special: "\e617";
@ticon-more2: "\e619";
@ticon-system-update: "\e62a";
@ticon-enhanced-encryption: "\e63f";
@ticon-no-encryption: "\e641";
@ticon-group: "\e7ef";
@ticon-group-add: "\e7f0";
@ticon-notifications: "\e7f4";
@ticon-notifications-none: "\e7f5";
@ticon-notifications-off: "\e7f6";
@ticon-people: "\e7fb";
@ticon-people-outline: "\e7fc";
@ticon-person: "\e7fd";
@ticon-person-add: "\e7fe";
@ticon-person-outline: "\e7ff";
@ticon-public: "\e80b";
@ticon-school: "\e80c";
@ticon-share: "\e80d";
@ticon-whatshot: "\e80e";
@ticon-check-box: "\e834";
@ticon-check-box-blank: "\e835";
@ticon-radio-unchecked: "\e836";
@ticon-radio-checked: "\e837";
@ticon-star: "\e838";
@ticon-star-half: "\e839";
@ticon-star-outline: "\e83a";
@ticon-wallet: "\e850";
@ticon-account-box: "\e851";
@ticon-account-circle: "\e853";
@ticon-alarm-off: "\e857";
@ticon-alarm-on: "\e858";
@ticon-announcement: "\e85a";
@ticon-assignment: "\e85d";
@ticon-assignment-ind: "\e85e";
@ticon-assignment-late: "\e85f";
@ticon-assignment-return: "\e860";
@ticon-assignment-returned: "\e861";
@ticon-assignment-turned-in: "\e862";
@ticon-autorenew: "\e863";
@ticon-backup: "\e864";
@ticon-book: "\e865";
@ticon-bookmark: "\e866";
@ticon-bookmark-outline: "\e867";
@ticon-build: "\e869";
@ticon-cached: "\e86a";
@ticon-check-circle: "\e86c";
@ticon-chrome-reader-mode: "\e86d";
@ticon-class: "\e86e";
@ticon-code: "\e86f";
@ticon-dashboard: "\e871";
@ticon-delete: "\e872";
@ticon-description: "\e873";
@ticon-dns: "\e875";
@ticon-done: "\e876";
@ticon-done-all: "\e877";
@ticon-event: "\e878";
@ticon-exit-to-app: "\e879";
@ticon-explore: "\e87a";
@ticon-extension: "\e87b";
@ticon-feedback: "\e87f";
@ticon-find-in-page: "\e880";
@ticon-help: "\e887";
@ticon-remove-outline: "\e888";
@ticon-history: "\e889";
@ticon-home: "\e88a";
@ticon-hourglass-empty: "\e88b";
@ticon-hourglass-full: "\e88c";
@ticon-info: "\e88e";
@ticon-info-outline: "\e88f";
@ticon-input: "\e890";
@ticon-label: "\e892";
@ticon-label-outline: "\e893";
@ticon-language: "\e894";
@ticon-launch: "\e895";
@ticon-list: "\e896";
@ticon-lock: "\e897";
@ticon-lock-open: "\e898";
@ticon-lock-outline: "\e899";
@ticon-note-add: "\e89c";
@ticon-document-add: "\e89c";
@ticon-open-in-new: "\e89e";
@ticon-move: "\e89f";
@ticon-pageview: "\e8a0";
@ticon-device-information: "\e8a5";
@ticon-power: "\e8ac";
@ticon-search: "\e8b6";
@ticon-settings: "\e8b8";
@ticon-settings-box: "\e8b9";
@ticon-backup2: "\e8ba";
@ticon-ethernet: "\e8be";
@ticon-overscan: "\e8c4";
@ticon-notes: "\e8cd";
@ticon-spellcheck: "\e8ce";
@ticon-stars: "\e8d0";
@ticon-subject: "\e8d2";
@ticon-swap-horiz: "\e8d4";
@ticon-swap-vert: "\e8d5";
@ticon-swap-vert-circle: "\e8d6";
@ticon-system-update-alt: "\e8d7";
@ticon-tab2: "\e8d8";
@ticon-tab-unselected: "\e8d9";
@ticon-theaters: "\e8da";
@ticon-toc: "\e8de";
@ticon-today: "\e8df";
@ticon-translate: "\e8e2";
@ticon-trending-down: "\e8e3";
@ticon-trending-neutral: "\e8e4";
@ticon-trending-up: "\e8e5";
@ticon-turned-in: "\e8e6";
@ticon-turned-in-not: "\e8e7";
@ticon-verified: "\e8e8";
@ticon-view-agenda: "\e8e9";
@ticon-view-array: "\e8ea";
@ticon-view-carousel: "\e8eb";
@ticon-view-column: "\e8ec";
@ticon-view-day: "\e8ed";
@ticon-view-headline: "\e8ee";
@ticon-view-list: "\e8ef";
@ticon-view-module: "\e8f0";
@ticon-view-quilt: "\e8f1";
@ticon-view-stream: "\e8f2";
@ticon-view-week: "\e8f3";
@ticon-work: "\e8f9";
@ticon-eject: "\e8fb";
@ticon-help-outline: "\e8fd";
@ticon-reorder: "\e8fe";
@ticon-zoom-in: "\e8ff";
@ticon-zoom-out: "\e90c";
@ticon-http: "\e90d";
@ticon-minus-box: "\e913";
@ticon-offline-pin: "\e914";
@ticon-copyright: "\e916";
@ticon-important-devices: "\e91b";
@ticon-date-range: "\e91f";
@ticon-donut-large: "\e920";
@ticon-donut-small: "\e921";
@ticon-timeline: "\e92b";
@ticon-update: "\e92c";
