<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button</title>

    <!-- terracy.css -->
    <link rel="stylesheet" href="/dist/css/terracy.css">
</head>
<body>
<button class="btn btn-white">White</button>
<button class="btn btn-green">Green</button>
<button class="btn btn-teal">Teal</button>
<button class="btn btn-yellow">Yellow</button>
<button class="btn btn-red">Red</button>
<button class="btn btn-black">Black</button>
<button class="btn btn-grey">Grey</button>
</body>
</html>