<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button</title>

    <!-- terracy.css -->
    <link rel="stylesheet" href="/dist/css/terracy.css">
</head>
<body>
<button class="btn btn-white btn-dropdown">White</button>
<button class="btn btn-green btn-dropdown">Green</button>
<button class="btn btn-teal btn-dropdown">Teal</button>
<button class="btn btn-yellow btn-dropdown">Yellow</button>
<button class="btn btn-red btn-dropdown">Red</button>
<button class="btn btn-black btn-dropdown">Black</button>
<button class="btn btn-grey btn-dropdown">Grey</button>
</body>
</html>