<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button</title>

    <!-- terracy.css -->
    <link rel="stylesheet" href="/dist/css/terracy.css">
</head>
<body>
<button class="btn btn-small btn-white btn-dropdown-split">White</button>
<button class="btn btn-small btn-green btn-dropdown-split">Green</button>
<button class="btn btn-small btn-teal btn-dropdown-split">Teal</button>
<button class="btn btn-small btn-yellow btn-dropdown-split">Yellow</button>
<button class="btn btn-small btn-red btn-dropdown-split">Red</button>
<button class="btn btn-small btn-black btn-dropdown-split">Black</button>
<button class="btn btn-small btn-grey btn-dropdown-split">Grey</button>
<br><br>
<button class="btn btn-white btn-dropdown-split">White</button>
<button class="btn btn-green btn-dropdown-split">Green</button>
<button class="btn btn-teal btn-dropdown-split">Teal</button>
<button class="btn btn-yellow btn-dropdown-split">Yellow</button>
<button class="btn btn-red btn-dropdown-split">Red</button>
<button class="btn btn-black btn-dropdown-split">Black</button>
<button class="btn btn-grey btn-dropdown-split">Grey</button>
<br><br>
<button class="btn btn-large btn-white btn-dropdown-split">White</button>
<button class="btn btn-large btn-green btn-dropdown-split">Green</button>
<button class="btn btn-large btn-teal btn-dropdown-split">Teal</button>
<button class="btn btn-large btn-yellow btn-dropdown-split">Yellow</button>
<button class="btn btn-large btn-red btn-dropdown-split">Red</button>
<button class="btn btn-large btn-black btn-dropdown-split">Black</button>
<button class="btn btn-large btn-grey btn-dropdown-split">Grey</button>
</body>
</html>